.auth-container {
  max-width: 500px;
  padding: 40px;
  border: 1px solid #ddd;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.08);
  text-align: center;
  background-color: #ffffff;
  margin-left: 500px;
  background-color: lightblue;
}

.auth-container h2 {
  margin-bottom: 20px;
  color: #333;
}

.auth-input {
  width: 90%;
  padding: 10px;
  margin-bottom: 16px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.auth-button {
  width: 30%;
  padding: 12px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 16px;
}

.auth-button:hover {
  background-color: #0056b3;
}
